<div name='hero_attributes'>
  <%= @specific_hero.name %>
  <%= @specific_hero.level %>
  <%= @specific_hero.gender %>
  <%= @specific_hero.hero_class %>
  <%= @specific_hero.top_item %>
  <%= @specific_hero.top_stat %>
</div>